body {
  width: 85%;
  margin: 0 auto;
}

main section {
  border: 1px solid darkgray;
  border-radius: 10px;
  margin: 10px auto;
}

section .title {
  margin-left: 10px;
}

.col-1 {
  display: inline-block;
  width: 30%;
  background-color: #001427;
  color: white;
  margin-left: 10px;
  margin-bottom: 20px;
  text-align: center;
  border-radius: 10px;
}

.col-2 {
  display: inline-block;
  width: 30%;
  background-color: #708d81;
  color: black;
  margin-left: 10px;
  margin-bottom: 20px;
  text-align: center;
  border-radius: 10px;
}

.col-3 {
  display: inline-block;
  width: 30%;
  background-color: #f4d58d;
  color: black;
  margin-left: 10px;
  text-align: center;
  border-radius: 10px;
}

.col-4 {
  display: inline-block;
  width: 30%;
  background-color: #bf0603;
  color: white;
  margin-left: 10px;
  margin-bottom: 20px;
  text-align: center;
  border-radius: 10px;
}

.col-5 {
  display: inline-block;
  width: 30%;
  background-color: #8d0801;
  color: white;
  margin-left: 10px;
  margin-bottom: 20px;
  text-align: center;
  border-radius: 10px;
}

.font-1 {
  display: inline-block;
  width: 40%;
  margin-left: 10px;
  font-family: oxygen, sans-serif;
}

.font-2 {
  display: inline-block;
  width: 40%;
  margin-left: 10px;
  font-family: rufina, serif;
}

.font-3 {
  display: inline-block;
  width: 40%;
  margin-left: 10px;
  font-family: 'sometype mono', monospace;
}

.fonts p.bold {
  font-weight: 900;
}

.fonts p.italic {
  font-style: italic;
}

.font-name {
  text-decoration: underline;
}